<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.rulerColumns">
      <column
            class="com.github.matf.relativenumberruler.RelativeLineNumberColumn"
            enabled="true"
            global="true"
            id="com.github.matf.relativenumberruler"
            includeInMenu="true"
            name="Relative Line Number Ruler">
         <placement
               gravity="1.0">
         </placement>
         <targetClass
               class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
         </targetClass>
      </column>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.matf.relativenumberruler.preferences.RelativeNumberRulerPreferencePage"
            id="com.github.matf.relativenumberruler.preferences.RelativeNumberRulerPreferencePage"
            name="Relative Number Ruler Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.matf.relativenumberruler.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
